/* * {
    border: none;
    margin: 0;
    padding: 0;
} */

/* .row {
    border: black 3px solid;
}

.col-lg-6 {
    padding: 100px;
    border: red 2px solid;
}

.container {
    display: block;
    border: green 4px solid;
} */