#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("assets/backgroundImage.avif");
}

.buttonContainer {
  display: block;
}

button {
  margin: 10px;
}

#submitButton {
  background-color: green;
}

#resetButton {
  background-color: red;
}

