.nowPlayingLink {
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

.pageLink {
    text-decoration: none;
    color: black;
}

#searchButton {
    margin-left: 10px;
    text-align: left;
}
