/*
    Site Wide
*/
.navbar-custom {
    border: black solid 2px; /*adding a border to surround the nav bar*/
    margin-bottom: 5px; /*putting some margin below it to make it look better with page content */
}

.navbar-custom, h1 {
    font-family: "Mountains of Christmas", system-ui;
}

body {/*Shape the body*/
    margin: 0px;
    background-image: url("assets/background.webp");
    background-repeat: no-repeat;
    background-size: 120%;
}


/*
    Landing Page
*/
#landing-text {
    padding-top: 200px;/*Move the text down to be level with image*/
}

#landing-text>h1 , #landing-text>h3 {
    font-size: 4em; /*Make the text bigger*/
}

#landing-image {
    padding-top: 50px;/*push it down some*/
}

/*
    Menu Page
*/
.card {
    margin-top: 200px;/*get it closer to the center of the page*/
    box-shadow: 5px 5px  black;
}

#card-text {/*Spacing the text out some*/
    padding-top: 50px;
    padding-bottom: 30px;
}

.fa-money-check-dollar {/*Just spacing*/
    padding: 3px 5px 0px 0px;
}


/*
    Now Hiring
*/
#hiring-form-container {/*Adjusting the form to look the way I want*/
    background-color: rgba(46, 222, 125, 0.531);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

#more-info-label, #more-info {/*Making it take up the whole row*/
    display: block;
    width: 100%;
}

#relationship-container {/*Spacing*/
    padding: 30px 5px 0px 5px;
}

.form-check-input {
    margin: 5px;
}